extends ../base1
block titulo
    |Comparativa
block body_content
    div(class="container-fluid ofertas")
        input(type="hidden",value="{{pk}}",id="id_oferta")
        h2 Requerimientos de la oferta:

        div(class="row row-margin-bottom")
            div(class="col-md-6 border-comparativa")
               h4(class="text-center margin-top-title") Ciudad de residencia:
               div(id="residencia_div",class="margin-top-desc")
               canvas(id="residencia")


            div(class="col-md-6 border-comparativa")
                h4(class="text-center margin-top-title") Edad:
                div(id="edad_div",class="margin-top-desc")
                canvas(id="edad")

        div(class="row row-margin-bottom")
            div(class="col-md-6 border-comparativa")
               h4(class="text-center margin-top-title") Experiencia laboral:
               div(id="experiencia_div",class="margin-top-desc")
               canvas(id="experiencia")


            div(class="col-md-6 border-comparativa")
                h4(class="text-center margin-top-title") Nivel de estudios:
                div(id="nivel_div",class="margin-top-desc")
                canvas(id="nivel")



        div(class="row")
           div(class="col-sm-12")
             div(class="text-center",style="margin-top:20px;")
                a(href="../")
                  button(type="button",class="btn btn-lg btn-success") Volver

            //div(class="col-sm-6")
               h3 Meses de experiencia:
               canvas(id="experiencia")
        //div(class="row")
            div(class="col-sm-6")
               h3 Edad:
               canvas(id="edad")
            div(class="col-sm-6")
               h3 Nivel academico:
               canvas(id="estudios")

block extra_script
    script(src="{% static 'js/comparativa.js' %}")