extends ../base1

block filters
    |{% load crispy_forms_tags %}
block title
    |Perfil

block body_content
    div(class="container-fluid banner")
        div(class="row")
            div(class="col-sm-4")
                |{% if user.photo_email != "" %}
                div(class="avatar-account center-block")
                    img(class="center-block",src="{{ MEDIA_URL }}{{user.photo_email}}")
                |{% elif user.photo != None %}
                div(class="avatar-account center-block")
                    img(class="center-block",src="{{user.photo}}")
                |{% else %}
                div(class="avatar-account center-block")
                    img(class="center-block",src="{% static 'imagenes/unknown_user.png' %}")
                |{% endif %}
            div(class="col-sm-8 information-user")
                p(class="text-text-left fullname-account") {{user.fullname}}
                p(class="text-text-left username-account") Username: {{user.username}}
                p(class="text-text-left username-account") Email: {{user.email}}
                p(class="text-text-left username-account") Cuentas:
                |{% for cuenta in asociadas %}
                |{% if cuenta == "facebook" %}
                span(class="fa fa-facebook-square fa-2x cuenta inline")
                |{% endif %}
                |{% if cuenta == "twitter" %}
                span(class="fa fa-twitter-square fa-2x cuenta inline")
                |{% endif %}
                |{% if cuenta == "google-oauth2" %}
                span(class="fa fa-google fa-2x cuenta inline")
                |{% endif %}
                |{% if cuenta == "linkedin-oauth2" %}
                span(class="fa fa-linkedin-square fa-2x cuenta inline")
                |{% endif %}
                |{% endfor %}
    div(class="container-fluid")
        div(class="row")
            div(class="col-sm-10 col-sm-offset-1")
                form(action="",method="POST",enctype="multipart/form-data",class="form-perfil")
                    |{% csrf_token %}
                    |{% crispy form %}

block extra_script
    script
        |$(document).ready(function(){
        |$('#id_fecha_nacimiento').datetimepicker({
        |viewMode: 'years',
        |format: 'DD/MM/YYYY',
        |locale: 'es'
        |});
        |$("#id_ciudad").remoteChained({
        |        parents : "#id_departamento",
        |        url : "/rest/departamentos/"
        |});
        |});