small = 'screen and (max-width: 620px)'
medium = 'screen and (max-width: 767px)'
large = 'screen and (max-width: 991px)'
xlarge = 'screen and (max-width: 1600px)'

body
  background #f7f5f5
  font-family: 'Lato', sans-serif
  font-size 16px
  color #273b47
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased

a
  color #273b47

//**************************************** LOGIN ****************************************************
.bgimage
  background-image url("../imagenes/background_login.jpg")
  background-size 100%

.bgimage-inside
  padding-top 37.36%

//*************************************** NAVAR *****************************************************
.navbar-fastwork
  background-color #273b47
  border-radius 0

.navbar-nav>li>a
  padding 5px 15px

  &:hover
    background-color #273b47

.navbar-brand
  padding 5px 15px

.navbar-brand > img
  height 40px

.avatar
  margin 0px

.avatar img
  height 40px
  border-radius 50%

.avatar a
  color white

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover
  background-color #273b47

.user-options
  width: 320px !important
  margin-right 20px
  background-color #273b47
  padding 0

.user-options a
  white-space normal

.user-options > li
  position relative

.user-options > li > a >span
  padding 0 5px

.user-options li > a
  color white
  padding 10px

.user-options > li > a:hover, .user-options > li > a:focus
  color white
  background-image none !important
  background-color #ff4700

//**************************************** BANNER **********************************************************************

.actualizar p, .actualizar strong
  display -webkit-inline-box

background-linear-gradient(direction,color-stop1,color-stop2,url-image)
  background -webkit-linear-gradient(direction,color-stop1,color-stop1),url-image
  background -moz-linear-gradient(direction,color-stop1,color-stop1),url-image
  background -ms-linear-gradient(direction,color-stop1,color-stop1),url-image
  background -o-linear-gradient(direction,color-stop1,color-stop1),url-image
  background linear-gradient(direction,color-stop1,color-stop1),url-image


.banner
  background-linear-gradient(top,rgba(0,0,0,0.6),rgba(0,0,0,8),url("../imagenes/banner.jpg"))
  background-position center center
  background-repeat no-repeat
  background-attachment fixed
  background-size cover
  height 250px
  @media large
    height 300px
  @media medium
    height 450px
  @media small
    height 550px

.banner-white
  background-linear-gradient(top,rgba(39,59,71,0.5),rgba(39,59,71,0.5),url("../imagenes/banner.jpg"))
  background-position center center
  background-repeat no-repeat
  background-attachment fixed
  background-size cover
  height 300px


.banner-hv
  background-linear-gradient(top,rgba(0,0,0,0.6),rgba(0,0,0,8),url("../imagenes/banner-hv.jpg"))
  background-position center center
  background-repeat no-repeat
  background-attachment fixed
  background-size cover
  height 250px
  @media large
    height 300px
  @media medium
    height 450px
  @media small
    height 550px

@media medium
  .information-user
    text-align center


.banner > .row, .banner-hv > .row
  margin-top 25px

.avatar-account
  height 200px
  width 200px
  overflow:hidden;
  border-radius 50%
  background white

.img-avatar
  height 40px
  width 40px
  overflow:hidden;
  border-radius 50%
  background white
  display inline-block


.avatar-account img
  max-height 100%
  -webkit-transform translate(-50%)
  margin-left 100px

.img-avatar img
  border-radius 0
  max-height 100%
  -webkit-transform translate(-50%)
  margin-left 20px

.json-cards
  padding 0px 0px 0px 30px





.fullname-account
  color white
  font-size 3em

.username-account
  color white
  font-size 16px

.cuenta
  color white
  padding 0 5px

legend
  padding 10px 0
  font-size 3rem

label
  font-size 1.5rem

.form-perfil
  margin-bottom 20px

.margin-div
  margin 10px 0px

.experiencias-none, .formaciones-none
  height 50px
  border-radius 10px
  background-color #f2dede
  margin 10px 0

.experiencias-none p, .formaciones-none p
  padding 15px

.registro
  background-color #d9edf7
  border-radius 10px
  padding 10px 10px 15px 20px
  margin 10px

.registro p
  margin 0
  padding 0

.experiencia
  margin 10px 0
  padding 0px 10px

.title-empresa
  font-size 20px

.fa-times, .fa-pencil
  float right
  display inline-block
  padding 5px


.ezdz-dropzone
  width 50%
  height 100px

//-------------------------------------footer------------------------------------
.footer-content
  background-color: #273b47

.footer-social-list
  margin 0
  padding 0

.footer-social-list li
  padding 0px 5px
  color white

.footer-social-list p
  padding 0px 20px
  color white

.footer-contact-info a
  color white
  font-weight 28px

.row-home
  position relative
  height 300px

.vcenter
  padding 30px
  position absolute
  top 0
  bottom 0
  margin auto
  left 0
  right 0
  height 100%

.title-A
  font-size 28px
  font-weight 700
  margin 30px

.title-A-p
  padding 20px

.title-A-p p
  text-align center

.login-info
  font-size 22px
  font-weight bold

.footer-content p
  color white

.body-content
  margin-bottom 20px

.circle-home span
  height 130px
  width 130px
  border-radius 50%
  font-size 70px
  padding 30px
  color white

.footer-content .row
  padding 10px

.loginForm input
  margin-top 13px

.creador p
  font-size 10px
  margin 0

.navbar-btn-right
  margin 8px 20px 8px 8px

.navbar-btn-left
  margin 8px 8px 8px 20px

.navbar-btn
  margin-top 3px
  margin-bottom 0px

.btn-modal
  margin 10px

.ofertas
  padding 20px


.filtros
  background #273b47
  color white
  border-bottom solid 4px #6a9ad0

.palabras
  background #273b47
  padding 7px
  color white

.palabras p
  display inline

.palabras span
  margin-right 10px

.filtros p
  margin 0
  padding 7px

.input-100
  width 90%
  margin 10px
  padding 5px

.input-70
  width 70%
  margin 10px

.formulario-filtro
  display block
  padding 10px
  border solid 1px #d9d9d9

ul
  list-style none
  padding 0
  margin 5px 20px

  & li
    margin-bottom 7px

.categoria
  height 200px
  border solid 1px #d9d9d9
  overflow scroll

  & div
    margin 10px

.departamento
  height 200px
  border solid 1px #d9d9d9

.card
  background white
  padding 20px
  min-height 150px
  border 1px solid #d9d9d9
  border-radius 10px
  box-shadow 2px 2px 2px #d9d9d9
  margin-bottom 10px
  margin-right 0
  width 100%

.verificada-border
  border-left solid 10px #25944d

.no-verificada-border
  border-left solid 10px #CC8514

.inline
  display inline

.propiedad
  margin 7px
  & span
    margin-right 10px

.title-oferta
  font-size 21px
  font-weight 700
  margin 0

.disable_link
  pointer-events none
  cursor default
  color #25944D
  &:hover,&:focus
    text-decoration none
    color #25944D

.verificada
  color #25944D
  margin-right 5px

.time-icon
  color #BD1915

.gps-icon
  color #25944D

.categoria-icon
  color #009EB2

#palabra
  margin-left 12px

.close-link
  color rgb(255,0,0)
  &:hover
    color rgb(155,0,0)

.border-box
  border-right solid 1px rgb(200,200,200)
  @media large
    border-right none
    border-bottom solid 1px rgb(200,200,200)

.border-box-register
  border-left solid 1px rgb(200,200,200)
  @media large
    border-left none
    border-top solid 1px rgb(200,200,200)

.pass
  width 90%

.eye
  width 10%

#error-register, #error-login
  padding 2px
  color #a94442


.margin-sm
  @media medium
    margin-bottom 20px

.tooltip-inner
  background #25944D
  font-size 14px
  max-width 800px

#photo_email-clear_id
  display inline-block


.oferta-card
  background white
  padding 20px
  border-radius 10px

.title-oferta-detail
  color #25944d
  font-weight bold
  font-size 18px
  border-top solid 2px #d9d9d9
  margin-top 20px
  padding-top 20px

.salario
  font-weight bold
  margin-bottom 0
  margin-top 20px

.ul-style
  list-style disc

.border-comparativa
  border-right solid 1px #d9d9d9

.margin-top-title
  margin 20px 0

.margin-top-desc
  margin 10px 0

.row-fin
  margin-bottom 200px

.row-margin-bottom
  margin-bottom 50px

.row
  margin 20px 0

td.details-control
    background url('../imagenes/details_open.png') no-repeat center center
    cursor pointer

tr.shown td.details-control
    background url('../imagenes/details_close.png') no-repeat center center

.empresas-none
  padding 10px
  border-radius 10px
  background-color #f2dede
  margin-bottom 20px

.empresas-activo
  border-radius 10px
  background-color #d9edf7
  margin-bottom 20px

.empresas-activo h4
  padding 15px 0px 0px 15px

.empresas-activo p
  padding 0px 0px 15px 15px

.empresas-none p
  padding 15

.sprite-icons
  background-image url("../imagenes/mercadopago-icons.png")
  background-repeat: no-repeat
  display inline-block
  vertical-align middle

.cobro-refund-ico
  width 30px
  height 30px
  background-position -60px -302px

.cobro-ok-ico
  width 30px
  height 30px
  background-position -60px -63px

.cobro-wait-ico
  width 30px
  height 30px
  background-position -60px -33px

.cobro-error-ico
  width 30px
  height 30px
  background-position -60px -93px

.cobro-warning-ico
  width 30px
  height 30px
  background-position -60px -123px

.payment-container
  background #f1f1f1
  padding 10px
  border-radius 10px
  margin-bottom 10px