body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #273b47;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.bgimage {
  background-image: url("../imagenes/background_login.jpg");
  background-size: 100%;
}
.bgimage-inside {
  padding-top: 37.36%;
}
.navbar-fastwork {
  background-color: #273b47;
  border-radius: 0;
}
.navbar-nav>li>a {
  padding: 5px 15px;
}
.navbar-nav>li>a:hover {
  background-color: #273b47;
}
.navbar-brand {
  padding: 5px 15px;
}
.navbar-brand > img {
  height: 40px;
}
.avatar img {
  height: 40px;
  border-radius: 50%;
}
.avatar a {
  color: #fff;
}
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
  background-color: #273b47;
}
.user-options {
  width: 320px !important;
  margin-right: 20px;
  background-color: #273b47;
  padding: 0;
}
.user-options a {
  white-space: normal;
}
.user-options > li {
  position: relative;
}
.user-options > li > a >span {
  padding: 0 5px;
}
.user-options li > a {
  color: #fff;
  padding: 10px;
}
.user-options > li > a:hover,
.user-options > li > a:focus {
  color: #fff;
  background-image: none !important;
  background-color: #ff4700;
}
.actualizar p,
.actualizar strong {
  display: -webkit-inline-box;
}
.banner {
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../imagenes/banner.jpg");
  background: -moz-linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../imagenes/banner.jpg");
  background: -ms-linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../imagenes/banner.jpg");
  background: -o-linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../imagenes/banner.jpg");
  background: linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../imagenes/banner.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 250px;
}
@media screen and (max-width: 991px) {
  .banner {
    height: 300px;
  }
}
@media screen and (max-width: 767px) {
  .banner {
    height: 450px;
  }
}
.banner-white {
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url("../imagenes/banner.jpg");
  background: -moz-linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url("../imagenes/banner.jpg");
  background: -ms-linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url("../imagenes/banner.jpg");
  background: -o-linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url("../imagenes/banner.jpg");
  background: linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url("../imagenes/banner.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 300px;
}
.banner-hv {
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../imagenes/banner-hv.jpg");
  background: -moz-linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../imagenes/banner-hv.jpg");
  background: -ms-linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../imagenes/banner-hv.jpg");
  background: -o-linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../imagenes/banner-hv.jpg");
  background: linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../imagenes/banner-hv.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 250px;
}
@media screen and (max-width: 991px) {
  .banner-hv {
    height: 300px;
  }
}
@media screen and (max-width: 767px) {
  .banner-hv {
    height: 450px;
  }
}
@media screen and (max-width: 767px) {
  .information-user {
    text-align: center;
  }
}
.banner > .row,
.banner-hv > .row {
  margin-top: 25px;
}
.avatar-account {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.fullname-account {
  color: #fff;
  font-size: 3em;
}
.username-account {
  color: #fff;
  font-size: 16px;
}
.cuenta {
  color: #fff;
  padding: 0 5px;
}
legend {
  padding: 10px 0;
  font-size: 3rem;
}
label {
  font-size: 1.5rem;
}
.form-perfil {
  margin-bottom: 20px;
}
.margin-div {
  margin: 10px 0px;
}
.experiencias-none,
.formaciones-none {
  height: 50px;
  border-radius: 10px;
  background-color: #f2dede;
  margin: 10px 0;
}
.experiencias-none p,
.formaciones-none p {
  padding: 15px;
}
.registro {
  background-color: #d9edf7;
  border-radius: 10px;
  padding: 10px 10px 15px 20px;
  margin: 10px;
}
.registro p {
  margin: 0;
  padding: 0;
}
.experiencia {
  margin: 10px 0;
  padding: 0px 10px;
}
.title-empresa {
  font-size: 20px;
}
.fa-times,
.fa-pencil {
  float: right;
  display: inline-block;
  padding: 5px;
}
.ezdz-dropzone {
  width: 50%;
  height: 100px;
}
.footer-content {
  height: 50px;
  background-color: #273b47;
}
.footer-contact-info a {
  color: #fff;
  font-weight: 28px;
}
.row-home {
  position: relative;
  height: 300px;
}
.vcenter {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
}
.title-A {
  font-size: 28px;
  font-weight: 700;
  margin: 30px;
}
.title-A-p p {
  text-align: center;
}
.login-info {
  font-size: 22px;
  font-weight: bold;
}
.footer-content p {
  color: #fff;
}
.body-content {
  margin-bottom: 20px;
}
.loginForm input {
  margin-top: 13px;
}
