body {
  background: #f7f5f5;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #273b47;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
a {
  color: #273b47;
}
.bgimage {
  background-image: url("../imagenes/background_login.jpg");
  background-size: 100%;
}
.bgimage-inside {
  padding-top: 37.36%;
}
.navbar-fastwork {
  background-color: #273b47;
  border-radius: 0;
}
.navbar-nav>li>a {
  padding: 5px 15px;
}
.navbar-nav>li>a:hover {
  background-color: #273b47;
}
.navbar-brand {
  padding: 5px 15px;
}
.navbar-brand > img {
  height: 40px;
}
.avatar img {
  height: 40px;
  border-radius: 50%;
}
.avatar a {
  color: #fff;
}
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
  background-color: #273b47;
}
.user-options {
  width: 320px !important;
  margin-right: 20px;
  background-color: #273b47;
  padding: 0;
}
.user-options a {
  white-space: normal;
}
.user-options > li {
  position: relative;
}
.user-options > li > a >span {
  padding: 0 5px;
}
.user-options li > a {
  color: #fff;
  padding: 10px;
}
.user-options > li > a:hover,
.user-options > li > a:focus {
  color: #fff;
  background-image: none !important;
  background-color: #ff4700;
}
.actualizar p,
.actualizar strong {
  display: -webkit-inline-box;
}
.banner {
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../imagenes/banner.jpg");
  background: -moz-linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../imagenes/banner.jpg");
  background: -ms-linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../imagenes/banner.jpg");
  background: -o-linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../imagenes/banner.jpg");
  background: linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../imagenes/banner.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 250px;
}
@media screen and (max-width: 991px) {
  .banner {
    height: 300px;
  }
}
@media screen and (max-width: 767px) {
  .banner {
    height: 450px;
  }
}
@media screen and (max-width: 620px) {
  .banner {
    height: 550px;
  }
}
.banner-white {
  background: -webkit-linear-gradient(top, rgba(39,59,71,0.5), rgba(39,59,71,0.5)), url("../imagenes/banner.jpg");
  background: -moz-linear-gradient(top, rgba(39,59,71,0.5), rgba(39,59,71,0.5)), url("../imagenes/banner.jpg");
  background: -ms-linear-gradient(top, rgba(39,59,71,0.5), rgba(39,59,71,0.5)), url("../imagenes/banner.jpg");
  background: -o-linear-gradient(top, rgba(39,59,71,0.5), rgba(39,59,71,0.5)), url("../imagenes/banner.jpg");
  background: linear-gradient(top, rgba(39,59,71,0.5), rgba(39,59,71,0.5)), url("../imagenes/banner.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 300px;
}
.banner-hv {
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../imagenes/banner-hv.jpg");
  background: -moz-linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../imagenes/banner-hv.jpg");
  background: -ms-linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../imagenes/banner-hv.jpg");
  background: -o-linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../imagenes/banner-hv.jpg");
  background: linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../imagenes/banner-hv.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 250px;
}
@media screen and (max-width: 991px) {
  .banner-hv {
    height: 300px;
  }
}
@media screen and (max-width: 767px) {
  .banner-hv {
    height: 450px;
  }
}
@media screen and (max-width: 620px) {
  .banner-hv {
    height: 550px;
  }
}
@media screen and (max-width: 767px) {
  .information-user {
    text-align: center;
  }
}
.banner > .row,
.banner-hv > .row {
  margin-top: 25px;
}
.avatar-account {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.fullname-account {
  color: #fff;
  font-size: 3em;
}
.username-account {
  color: #fff;
  font-size: 16px;
}
.cuenta {
  color: #fff;
  padding: 0 5px;
}
legend {
  padding: 10px 0;
  font-size: 3rem;
}
label {
  font-size: 1.5rem;
}
.form-perfil {
  margin-bottom: 20px;
}
.margin-div {
  margin: 10px 0px;
}
.experiencias-none,
.formaciones-none {
  height: 50px;
  border-radius: 10px;
  background-color: #f2dede;
  margin: 10px 0;
}
.experiencias-none p,
.formaciones-none p {
  padding: 15px;
}
.registro {
  background-color: #d9edf7;
  border-radius: 10px;
  padding: 10px 10px 15px 20px;
  margin: 10px;
}
.registro p {
  margin: 0;
  padding: 0;
}
.experiencia {
  margin: 10px 0;
  padding: 0px 10px;
}
.title-empresa {
  font-size: 20px;
}
.fa-times,
.fa-pencil {
  float: right;
  display: inline-block;
  padding: 5px;
}
.ezdz-dropzone {
  width: 50%;
  height: 100px;
}
.footer-content {
  background-color: #273b47;
}
.footer-social-list {
  margin: 0;
  padding: 0;
}
.footer-social-list li {
  padding: 0px 5px;
  color: #fff;
}
.footer-social-list p {
  padding: 0px 20px;
  color: #fff;
}
.footer-contact-info a {
  color: #fff;
  font-weight: 28px;
}
.row-home {
  position: relative;
  height: 300px;
}
.vcenter {
  padding: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
}
.title-A {
  font-size: 28px;
  font-weight: 700;
  margin: 30px;
}
.title-A-p {
  padding: 20px;
}
.title-A-p p {
  text-align: center;
}
.login-info {
  font-size: 22px;
  font-weight: bold;
}
.footer-content p {
  color: #fff;
}
.body-content {
  margin-bottom: 20px;
}
.circle-home span {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  font-size: 70px;
  padding: 30px;
  color: #fff;
}
.footer-content .row {
  padding: 10px;
}
.loginForm input {
  margin-top: 13px;
}
.creador p {
  font-size: 10px;
  margin: 0;
}
.navbar-btn-right {
  margin: 8px 20px 8px 8px;
}
.navbar-btn-left {
  margin: 8px 8px 8px 20px;
}
.btn-modal {
  margin: 10px;
}
.ofertas {
  padding: 20px;
}
.filtros {
  background: #273b47;
  color: #fff;
  border-bottom: solid 4px #6a9ad0;
}
.palabras {
  background: #273b47;
  padding: 7px;
  color: #fff;
}
.palabras p {
  display: inline;
}
.palabras span {
  margin-right: 10px;
}
.filtros p {
  margin: 0;
  padding: 7px;
}
.input-100 {
  width: 90%;
  margin: 10px;
  padding: 5px;
}
.input-70 {
  width: 70%;
  margin: 10px;
}
.formulario-filtro {
  display: block;
  padding: 10px;
  border: solid 1px #d9d9d9;
}
ul {
  list-style: none;
  padding: 0;
  margin: 5px 20px;
}
ul li {
  margin-bottom: 7px;
}
.categoria {
  height: 200px;
  border: solid 1px #d9d9d9;
  overflow: scroll;
}
.categoria div {
  margin: 10px;
}
.departamento {
  height: 200px;
  border: solid 1px #d9d9d9;
}
.card {
  background: #fff;
  padding: 20px;
  min-height: 150px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #d9d9d9;
  margin-bottom: 10px;
  margin-right: 0;
  width: 100%;
}
.verificada-border {
  border-left: solid 10px #25944d;
}
.no-verificada-border {
  border-left: solid 10px #cc8514;
}
.inline {
  display: inline;
}
.propiedad {
  margin: 7px;
}
.propiedad span {
  margin-right: 10px;
}
.title-oferta {
  font-size: 21px;
  font-weight: 700;
  margin: 0;
}
.disable_link {
  pointer-events: none;
  cursor: default;
  color: #25944d;
}
.disable_link:hover,
.disable_link:focus {
  text-decoration: none;
  color: #25944d;
}
.verificada {
  color: #25944d;
  margin-right: 5px;
}
.time-icon {
  color: #bd1915;
}
.gps-icon {
  color: #25944d;
}
.categoria-icon {
  color: #009eb2;
}
#palabra {
  margin-left: 12px;
}
.close-link {
  color: #f00;
}
.close-link:hover {
  color: #9b0000;
}
.border-box {
  border-right: solid 1px #c8c8c8;
}
@media screen and (max-width: 991px) {
  .border-box {
    border-right: none;
    border-bottom: solid 1px #c8c8c8;
  }
}
.border-box-register {
  border-left: solid 1px #c8c8c8;
}
@media screen and (max-width: 991px) {
  .border-box-register {
    border-left: none;
    border-top: solid 1px #c8c8c8;
  }
}
.pass {
  width: 90%;
}
.eye {
  width: 10%;
}
#error-register,
#error-login {
  padding: 2px;
  color: #a94442;
}
@media screen and (max-width: 767px) {
  .margin-sm {
    margin-bottom: 20px;
  }
}
.tooltip-inner {
  background: #25944d;
  font-size: 14px;
  max-width: 800px;
}
