body {
  background-image: url("../imagenes/background_login.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.login {
  margin-top: 40px;
  padding: 30px;
  border-radius: 20px;
  background-color: rgba(255,255,255,0.5);
}
.facebook {
  background-color: #3b5998;
  height: 45px;
  color: #fff;
  transition: height 0.5s;
}
.fa-facebook {
  padding-top: 10px;
  transition: padding-top 0.5s;
}
.nombre-facebook {
  padding-top: 2px;
  visibility: hidden;
  transition-delay: 0.2s;
}
.facebook:hover {
  height: 70px;
}
.facebook:hover > .fa-facebook {
  padding-top: 15px;
}
.facebook:hover > .nombre-facebook {
  visibility: visible;
}
.twitter {
  background-color: #00aced;
  height: 45px;
  color: #fff;
  transition: height 0.5s;
}
.fa-twitter {
  padding-top: 10px;
  transition: padding-top 0.5s;
}
.nombre-twitter {
  padding-top: 2px;
  visibility: hidden;
  transition-delay: 0.2s;
}
.twitter:hover {
  height: 70px;
}
.twitter:hover > .fa-twitter {
  padding-top: 15px;
}
.twitter:hover > .nombre-twitter {
  visibility: visible;
}
.linkedin {
  background-color: #3f729b;
  height: 45px;
  color: #fff;
  transition: height 0.5s;
}
.linkedin:hover {
  height: 70px;
}
.fa-linkedin {
  padding-top: 10px;
  transition: padding-top 0.5s;
}
.nombre-linkedin {
  padding-top: 2px;
  visibility: hidden;
  transition-delay: 0.2s;
}
.linkedin:hover > .linkedin {
  padding-top: 15px;
}
.linkedin:hover > .nombre-linkedin {
  visibility: visible;
}
.google {
  background-color: #d34836;
  height: 45px;
  color: #fff;
  transition: height 0.5s;
}
.fa-google {
  padding-top: 10px;
  transition: padding-top 0.5s;
}
.nombre-google {
  padding-top: 2px;
  visibility: hidden;
  transition-delay: 0.2s;
}
.google:hover {
  height: 70px;
}
.google:hover > .fa-google {
  padding-top: 15px;
}
.google:hover > .nombre-google {
  visibility: visible;
}
.login-form > input[type="text"],
.login-form > input[type="password"] {
  width: 100%;
  margin: 10px 0;
  padding: 5px;
  border-style: solid;
  border-color: #4fa7ff;
}
.font-18 {
  font-size: 18px;
  margin: 15px 0;
}
.iniciar {
  color: #fff;
  height: 30px;
  background-color: #66b67c;
  text-align: center;
  padding-top: 5px;
}
.iniciar:hover {
  background-color: #20cd50;
}
.registrar {
  color: #fff;
  height: 30px;
  background-color: #6b4a3c;
  text-align: center;
  padding-top: 5px;
}
.recordar {
  color: #fff;
  height: 30px;
  background-color: #f56801;
  text-align: center;
  padding-top: 5px;
}
.botones {
  margin-top: 10px;
}
.copyrigth {
  margin-top: 10px;
}
