| {% load staticfiles %}
block filters
doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport",content="width=device-width, initial-scale=1")
        link(rel='shortcut icon',href="{% static 'imagenes/icon.png' %}")
        link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700&subset=latin',rel='stylesheet',media="all")
        title
            block titulo
        link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
        link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css",integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r",crossorigin="anonymous")
        link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
        link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.css")
        link(rel="stylesheet",href="https://cdn.jsdelivr.net/animatecss/3.5.1/animate.min.css")
        link(rel="stylesheet",href="{% static 'css/base.css' %}")
        block extra_style
    body
        nav(class="navbar navbar-fastwork navbar-fixed-top",role="navigation")
            div(class="container-fluid")
                div(class="navbar-header")
                    button(type="button",class="navbar-toggle collapsed",data-toggle="collapse",data-target="#fastwork-navbar",aria-expanded="false")
                        span(class="sr-only") Menu
                        span(class="fa fa-bars",style="color:white;")
                    a(class="navbar-brand",rel="home",href="#",title="Fast Work Colombia")
                        img(src="{% static 'imagenes/logo-2.png' %}")
                div(class="collapse navbar-collapse",id="fastwork-navbar")
                    ul(class="nav navbar-nav navbar-right")
                        | {% if user.is_authenticated %}
                        li(class="dropdown avatar")
                            a(href="#",class="dropdown-toggle",data-toggle="dropdown",role="button",aria-haspopup="true",aria-expanded="false")
                                img(src='{{user.photo}}')
                                span(class="caret")
                            ul(class="dropdown-menu user-options")
                                li
                                    a(href="/ofertas/") Ofertas
                                        span(class="glyphicon glyphicon-star pull-left")
                                li
                                    a(href="/accounts/") Mi perfil ({{user.username}})
                                        span(class="glyphicon glyphicon-user pull-left")
                                li
                                    a(href="/hv/") Hoja de vida
                                        span(class="glyphicon glyphicon-file pull-left")
                                li
                                    a(href="/logout/") Salir
                                        span(class="glyphicon glyphicon-log-out pull-left")
                        |{% else %}
                        button(type="button",class="btn btn-success navbar-btn",data-toggle="modal",data-target="#login-social") Iniciar Sesión
                        | {% endif %}
        div(style="margin-top:50px;")
        button(value="{{user.identificacion}}",style="display:none;",id="identificacion")
        block body_content
        footer
            div(class="container-fluid footer-content")
                div(class="row")
                    div(class="col-md-6 text-center")
                    div(class="col-md-6 text-center")
                        p(class="inline") Contáctanos:
                        ul(class="footer-social-list text-center inline")
                            a(href="https://www.facebook.com/fastworkcolombia/",target="_blank")
                                li(class="fa fa-facebook-square fa-2x")
                            li(class="fa fa-twitter-square fa-2x")
                            li(class="fa fa-skype fa-2x")
                    div(class="col-md-12 text-center creador")
                        p Desarrollado por Diego Andres Fonseca | &copy2016
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.js")
        script(src="{% static 'js/moment.es.js' %}")
        script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js",integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS",crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js")
        script(src="https://cdn.jsdelivr.net/jquery.chained/0.9.9/jquery.chained.remote.js")
        script(src="{% static 'js/bootstrap-notify.min.js' %}")
        block extra_script