| {% load staticfiles %}
block filters
doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport",content="width=device-width, initial-scale=1")
        link(rel='shortcut icon',href="{% static 'imagenes/icon.png' %}")
        link(href='https://fonts.googleapis.com/css?family=Lato',rel='stylesheet',type='text/css')
        title
            block titulo
        link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
        link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css",integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r",crossorigin="anonymous")
        link(rel="stylesheet",href="{% static 'css/base.css' %}")
        block extra_style
    body
        | {% if user.is_authenticated %}
        header
            div(class="cd-logo")
                a(href="#0")
                    img(src="/static/imagenes/logo-footer.png")
            nav(class="cd-main-nav-wrapper")
                ul(class="cd-main-nav")
                    block botones
                    li
                        a(href="#0",class="cd-subnav-trigger")
                            span(style="text-transform: capitalize;") {{user}}
                        ul
                            li(class="go-back")
                                a(href="#0")
                            li
                                a(href="#0") Cambiar Contraseña
                            li
                                a(href="/cerrar") Cerrar Sesión
                            li
                                a(href="#0",class="placeholder") Placeholder
            a(href="#0",class="cd-nav-trigger") Menu
                span
        | {% endif %}
        block body_content
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js",integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS",crossorigin="anonymous")
        block extra_script