| {% load staticfiles %}
doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport",content="width=device-width, initial-scale=1")
        link(rel='shortcut icon',href="{% static 'imagenes/icon.png' %}")
        link(href='https://fonts.googleapis.com/css?family=Lato',rel='stylesheet',type='text/css')
        title Login
        link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
        link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css",integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r",crossorigin="anonymous")
        link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
        link(rel="stylesheet",href="{% static 'css/login.css' %}")
    body
        div(class="conainer-fluid")
            div(class="col-xs-8 col-xs-offset-2 login")
                div(class="col-lg-12")
                    div(class="row")
                        div(class="col-lg-8 col-lg-offset-2")
                            img(src="{% static 'imagenes/logo.png'%}",class="img-responsive center-block")

                    div(class="row")
                        div(class="col-lg-8 col-lg-offset-2")
                            p(class="text-center font-18") Puedes registrarte o iniciar sesión usando redes sociales
                            div(class="redes")
                                a(href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}")
                                    div(class="col-md-3 facebook text-center")
                                        i(class="fa fa-facebook fa-2x")
                                        p(class="nombre-facebook") Facebook
                                a(href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}")
                                    div(class="col-md-3 twitter text-center")
                                        i(class="fa fa-twitter fa-2x")
                                        p(class="nombre-twitter") Twitter
                                a(href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}")
                                    div(class="col-md-3 google text-center")
                                        i(class="fa fa-google fa-2x")
                                        p(class="nombre-google") Google
                                a(href="{% url 'social:begin' 'linkedin-oauth2' %}?next={{ request.path }}")
                                    div(class="col-md-3 linkedin text-center")
                                        i(class="fa fa-linkedin fa-2x")
                                        p(class="nombre-linkedin") LinkedIn
                    div(class="row")
                        div(class="col-lg-12 text-center")
                            p(class="font-18") O registrate e inicia sesión de forma tradicional
                    div(class="row")
                        div(class="col-xs-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3")
                            form(class="login-form",id="form_login",method="post",action="{% url 'django.contrib.auth.views.login' %}")
                                |{%csrf_token%}
                                input(type="text",placeholder="Usuario",id="idUsername",name="username",data-toggle="tooltip",data-placement="right",title="Usuario")
                                input(type="password",placeholder="Contraseña",id="password",name="password",data-toggle="tooltip",data-placement="right",title="Password")
                                |{% if form.errors %}
                                p(class="text-center") El usuario y la contraseña que has introducido no coinciden. Porfavor, inténtalo de nuevo.
                                |{% endif %}
                                div(class="botones")
                                    a(href="javascript:{}",onclick="document.getElementById('form_login').submit(); return false;")
                                        div(class="col-lg-4 iniciar")
                                            p Iniciar sesión
                                    a(href="#")
                                        div(class="col-lg-4 registrar")
                                            p Registrarme
                                    a(href="#")
                                        div(class="col-lg-4 recordar")
                                            p Recuperar
                    div(class="row")
                        div(class="col-lg-12 text-center copyrigth")
                            p &copy 2016
        | {% if user.is_authenticated %}
        |Welcome back {{ user.get_full_name }}.
        a(href="{% url 'user-logout' %}") Logout
        |{% endif %}
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js",integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS",crossorigin="anonymous")
        script
            |$(document).ready(function(){
            |$('[data-toggle="tooltip"]').tooltip();
            |});