extends ../base
block titulo
    | Ofertas
block body_content
   div(class="container-fluid")
      div(class="row")
         div(class="col-sm-10 col-sm-offset-1")
            fieldset
                legend MIS EMPRESAS:
            div(class="container-fluid")
                div(class="row")
                    div(class="col-sm-12")
                        |{% if CANTIDAD_EMPRESAS == 0 %}
                        div(class="empresas-none")
                            p Actualmente no tienes ninguna empresa creada.
                        |{% else %}
                        |{% for empresa in EMPRESAS %}
                        |{% endfor %}
                        |{% endif %}
                        button(type="button",class="btn btn-lg btn-success") Añadir empresa

            fieldset
                legend MIS OFERTAS DE EMPLEO:
            div(class="container-fluid")
                div(class="row")
                    div(class="col-sm-12")
                        |{% if CANTIDAD_OFERTAS == 0 %}
                        div(class="empresas-none")
                            p No has creado ninguna oferta de empleo.
                        |{% else %}
                        |{% for oferta in OFERTAS %}
                        |{% endfor %}
                        |{% endif %}
                        button(type="button",class="btn btn-lg btn-success") Añadir oferta